@use "../config" as *;
@use "./drawer";
@use "./checkbox";
@use "./radio";
@use "./buttons";
@use "./form";
@use "./card";
@use "./typography";
@use "./dropdown";
@use "./borderColor";
@use "./table";
@use "./list";

.light-theme .blue_theme,
.light-theme .purple_theme,
.light-theme .orange_theme,
.light-theme .green_theme,
.light-theme .aqua_theme,
.light-theme .cyan_theme,
.dark-theme {
  .topbar {
    background-color: $toolbar;
  }
}
