@use "@angular/material" as mat;
@use "config" as *;
@use "themecolors/default_theme" as theme;
@use "helpers/color";
@use "helpers/icon-size";
@use "overrides/materialoverrides";
@use "container";
@use "layouts/layouts";
@use "grid/grid";
@use "helpers/custom-flex";
@use "helpers/index";
@use "pages/auth";
@use "pages/dashboards";

@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes(theme.$bluetheme);