<div class="">
  <img src="assets/past_header.png" alt="Bakery Banner" class="banner">
  <h1 class="title">Bakery Profits Manager</h1>
</div>

<div class="content">
  <button class="create-button">+ Add New Product</button>

  <div class="product-grid">
    <!-- Example Product Card -->
    @for (item of items; track item) {

    <div class="product-card">
      <img src="{{item.image}}" alt="{{item.name}}" class="product-image">
      <div class="product-info">
        <label>{{item.name}}</label>
        <label>{{item.price}}€</label>
      </div>
      <div class="edit-icon">
        <i class="fas fa-pencil-alt"></i>
      </div>
    </div>
  }
  </div>
</div>

<footer>
  <p>Manage your bakery profits with ease. Contact us for support.</p>
</footer>
